html, body {
  width: 100%;
  height: 100vh;
}

/* #main {
  background-image: url('./img/black-and-white-close-up-view-jukebox-21088.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */
